body {
  background-color: antiquewhite;
}

hr {
  color: black;
}

.nav {
  background-color: rgb(18, 120, 146);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 15px 0px 15px 0px;
  padding: 5px 15px 5px 15px;
  overflow: hidden;
}
.nav li {
  display: inline;
}

.nav li a {
  margin: 5px;
  color: aliceblue;
  font-family: cursive;
}

#profile {
  width: 60%;
  margin: 15px auto;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 6px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}
#profileName {
  font-size: x-large;
  text-align: start;
}
img {
  width: 100px;
  height: 100px;
  background: whitesmoke;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#info {
  background-color: white;
  width: 60%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 6px;
  margin: 15px auto;
  border-radius: 50px;

  justify-content: space-between;
  align-self: center;
}

#info p {
  padding: 0px 15px 0px 15px;
}

.experiences {
  margin: 0 auto;
}

.jobs {
  width: 90%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.job-container {
  width: 200px;
  height: auto;
  margin: 15px auto;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 20px;
  border-radius: 50px;
}
.job-container li {
  display: list-item;
}

.abilities {
  margin: 0 auto;
}

#abilityboxes {
  background-color: aliceblue;
  text-align: center;
  width: 90%;
  height: auto;
  padding: 6px;
  margin: 0 auto;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
#abilitybox {
  background-color: aliceblue;
  width: min-content;
  padding: 6px;
  margin: 10px auto;
  outline: none;
  border-radius: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#projects {
  background-color: red;
  margin: 30px auto;
  padding: auto;
  width: 80%;
}

.project-container {
  width: 250px;
  height: 250px;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 15px;
  border-radius: 50px;
}

footer {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: aliceblue;
  padding: 15px;
  margin: auto;
}
